#footerwrap {
    width: 100%;
    float: left;
    margin: 0 auto;
    clear: both;
    position: absolute;
    bottom: 0;
    width: 100%;
   
  }
  
  #footer {
    height: 40px;
    background-color: #ecf0f1;
    color: #000;
    font-weight: 700;
  }
  
